.BoxItem {
  border: 1px solid black;
  width: 400px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.Top,
.Middle,
.Bottom {
  flex: 1; /* 각각 영역을 1:1:1 비율로 나눔 */
  display: flex;
  justify-content: center; /* 가로 가운데 */
  align-items: center; /* 세로 가운데 */
}

.IconItem {
  font-size: 100px;
  display: inline-block;
}

.Left {
  transform: rotate(-90deg) scaleY(-1);
}

.Right {
  transform: rotate(-90deg);
}

.WIN {
  border: 5px solid rgb(104, 206, 246);
}

.LOSE {
  border: 5px solid rgb(255, 73, 73);
}

.TIE {
  border: 5px solid rgb(165, 255, 186);
}
